/*.top-name{
    background-color: white;
    text-align: center;
    padding: 20px;
}*/
*{
    box-sizing: border-box;
}

/* Nav back to top */
#btn{
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(2, 41, 41);
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#btn:hover{
    box-shadow: 0 15px 30px black;
}
#btn a{
    text-decoration: none;
    color: white;
}

/* Nav-bar  Home Page*/
.top-nav{
    overflow: hidden;
    background-color: teal;   
}

.top-nav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-right{
    float: right;
}

.active{
    background-color: rgb(2, 41, 41);
}

.top-nav a:hover{
    background-color:rgb(2, 41, 41);
    color: white;
}


/* Nav Bar Favorite things page */

.top-nav1{
    overflow: hidden;
    background-color: teal;   
}

.top-nav1 a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-right{
    float: right;
}

.active{
    background-color: rgb(2, 41, 41);
}

.top-nav1 a:hover{
    background-color:rgb(2, 41, 41);
    color: white;
}

/* Details */
.ellipse{
    display: flex;
    background-color: teal;
    margin-top: 3%;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 20px;
    
}

.ellipse:hover{
    box-shadow: 0 15px 30px black;
}
.ellipse .image{
    margin: 50px;
    margin-left: 100px;
    width: 400px;
    flex: 0 0 150px;
    /* border: 5px solid white; */
}

.ellipse .image img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
.ellipse .details{
    padding-left: 20px;
    display: flex;   
}

.ellipse .details p{
    margin: 0;
    padding: 100px 0 0;
    text-align: justify;
    font-size: 35px;
    color: white;
}

.about-me{
    background-color: teal;
    padding: 7px;
    /* margin-top: 50%; */
    margin-bottom: 3%;
    margin-top: 3%;
}
.about-me p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    text-align: left;
    letter-spacing: 20px;
    line-height: 2px;
}

.bg img{
    width: 100%;
}

/* For Body about me */

.project{
    background-color: teal;
    padding: 7px;
    margin-top: 10%;
    margin-bottom: 3%;    
}

.project p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    text-align: left;
    letter-spacing: 20px;
    line-height: 27px;    
}

.btn1{
    background-color: teal;
}
.btn1 a{
    text-decoration: none;
    color: white;
}

.btn2{
    background-color: teal;
}
.btn2 a{
    text-decoration: none;
    color: white;
}

.btn3{
    background-color: teal;
}
.btn3 a{
    text-decoration: none;
    color: white;
}

/* For Body project 
.column{
    float: left;
    width: 33.33%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.left, .right{
    width: 25%;
}

.middle{
    width: 50%;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}*/

/* Flexbox home.html*/
.row{
    display: flex;
    background-color: teal;
    justify-content: space-between;
    
}
.row:hover{
    box-shadow: 0 15px 30px black;
}

.column {
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.column p{
    text-align: justify;
}


/* Flex Favoritethings.html */

.row1{
    display: flex;
    background-color: teal;
    justify-content: space-between;
    margin-top: 7%;
    
}
.row1:hover{
    box-shadow: 0 15px 30px black;
}

.column1 {
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.column1 p{
    text-align: justify;
}


/* footer */
.footer{
    padding: 20px;
    text-align: center;
    background-color: teal;
    margin-top: 20px;
}

.footer a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* Responsive website */
@media screen and (max-width: 1000px){
    .row{
        display: block;
        width: 100%;
    }
    .column{
        width: 100%;
        flex-direction: column;
    }

    .top-nav{
        display: block;
        text-align: center;
        width: 100%;
    }
    .nav-right{
        float: right;
    }
    .top-nav .nav-right a{
        display: block;
        width: 100px;
        float: left;
    }
    .active{
        text-align: center;
        display: block;
    }

    .top-nav a{
        display: block;
        width: 100px;
    }

    .footer{
        width: 100%;
        text-align: center;
        display: block;
    }

    .ellipse .image img{
        display: block;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 0;
        padding: 0;
        
    }

    .ellipse .details p{
        display: block;
    }
}


